Foreign/SonyLE/LevelEditorXLE/Schema/xleenv.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="gap"
  xmlns="gap"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="xlebasic.xsd"/>

  <xs:complexType name="ambientSettingsType">
    <xs:annotation>
      <xs:appinfo>
        <scea.dom.editors.attribute category="Ambient" name="AmbientLight" displayName="Ambient Light" 
          editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" 
          converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Ambient" name="AmbientBrightness" displayName="Brightness of the ambient light"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,2"/>
        
        <scea.dom.editors.attribute category="Ambient" name="DiffuseIBL" displayName="Irradiance map"
          editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms"/>
        <scea.dom.editors.attribute category="Ambient" name="SpecularIBL" displayName="Filtered glossy reflections"
          editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms"/>
        
        <scea.dom.editors.attribute category="Sky" name="SkyTexture" displayName="Sky Texture"
          editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms"/>
        <scea.dom.editors.attribute category="Sky" name="SkyTextureType" displayName="Type" 
          description="Mapping mode for the sky texture. HemiCube is the upper half of a cubemap. HemiEquirectangular is the upper half of a paranoramic map."
          enum="HemiCube=0,Cube=1,Equirectangular=2,HemiEquirectangular=3"/>
        <scea.dom.editors.attribute category="Sky" name="SkyReflectionScale" displayName="Sky Reflection Scale" description="Scale for the reflection of the static sky image"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>
        <scea.dom.editors.attribute category="Sky" name="SkyBrightness" displayName="Brightness of the sky"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>

        <scea.dom.editors.attribute category="RangeFog" name="RangeFogInscatter" displayName="Inscatter"
          description="Color of inscattered light. This should be similar to the color of the sky (ie, blue)"
          editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms"
          converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="RangeFog" name="RangeFogInscatterScale" displayName="Inscatter Scale"
          description="Quantity of inscatter."
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,.02"/>
        
        <scea.dom.editors.attribute category="RangeFog" name="RangeFogThicknessReciprocalScale" displayName="Optical thickness"
          description="Quantity of light scattered away by the atmosphere (that is, the 'darkening' caused by the fog). This is actually the reciprocal of the optical thickness, so small numbers result in less darkening, and large numbers result in more."
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1500"/>

        <scea.dom.editors.attribute category="Atmosphere Blur" name="AtmosBlurStdDev" displayName="Blurriness" />
        <scea.dom.editors.attribute category="Atmosphere Blur" name="AtmosBlurStart" displayName="Start distance" />
        <scea.dom.editors.attribute category="Atmosphere Blur" name="AtmosBlurEnd" displayName="End distance" />
                                    
        <scea.dom.editors.attribute category="General" name="Flags" displayName="Flags"
          editor="Sce.Atf.Controls.PropertyEditing.FlagsUITypeEditor,Atf.Gui.WinForms:AtmosphereBlur,RangeFog"
          converter="Sce.Atf.Controls.PropertyEditing.FlagsTypeConverter:AtmosphereBlur,RangeFog"/>

        <LeGe.NativeType nativeName="AmbientSettings"/>
        <LeGe.NativeProperty name="AmbientLight" nativeName="AmbientLight"/>
        <LeGe.NativeProperty name="AmbientBrightness" nativeName="AmbientBrightness"/>
        <LeGe.NativeProperty name="DiffuseIBL" nativeName="DiffuseIBL"/>
        <LeGe.NativeProperty name="SpecularIBL" nativeName="SpecularIBL"/>
        
        <LeGe.NativeProperty name="SkyTexture" nativeName="SkyTexture"/>
        <LeGe.NativeProperty name="SkyTextureType" nativeName="SkyTextureType"/>
        <LeGe.NativeProperty name="SkyReflectionScale" nativeName="SkyReflectionScale"/>
        <LeGe.NativeProperty name="SkyReflectionBlurriness" nativeName="SkyReflectionBlurriness"/>
        <LeGe.NativeProperty name="SkyBrightness" nativeName="SkyBrightness"/>

        <LeGe.NativeProperty name="RangeFogInscatter" nativeName="RangeFogInscatter"/>
        <LeGe.NativeProperty name="RangeFogInscatterScale" nativeName="RangeFogInscatterScale"/>
        <LeGe.NativeProperty name="RangeFogThicknessReciprocalScale" nativeName="RangeFogThicknessReciprocalScale"/>

        <LeGe.NativeProperty name="AtmosBlurStdDev" nativeName="AtmosBlurStdDev"/>
        <LeGe.NativeProperty name="AtmosBlurStart" nativeName="AtmosBlurStart"/>
        <LeGe.NativeProperty name="AtmosBlurEnd" nativeName="AtmosBlurEnd"/>

        <LeGe.NativeProperty name="Flags" nativeName="Flags"/>

        <scea.dom.editors category="Environment" name="AmbientSettings" menuText="Environment/AmbientSettings" description="Global ambient settings" image="LevelEditorCore.Resources.Lighting16.png"/>
        <LeGe.OpaqueListable label="Ambient"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:attribute name="AmbientLight" type="xs:int" default="-1"/>
    <xs:attribute name="AmbientBrightness" type="xs:float" default="0"/>
    <xs:attribute name="DiffuseIBL" type="xs:anyURI"/>
    <xs:attribute name="SpecularIBL" type="xs:anyURI"/>
    
    <xs:attribute name="SkyTexture" type="xs:anyURI" default="./Game/xleres/DefaultResources/sky/samplesky2.dds" />
    <xs:attribute name="SkyTextureType" type="xs:int" default="1"/>
    <xs:attribute name="SkyReflectionScale" type="xs:float" default="1"/>
    <xs:attribute name="SkyReflectionBlurriness" type="xs:float" default="2"/>
    <xs:attribute name="SkyBrightness" type="xs:float" default="1"/>

    <xs:attribute name="RangeFogInscatter" type="xs:int" default="0"/>
    <xs:attribute name="RangeFogInscatterScale" type="xs:float" default="1"/>
    <xs:attribute name="RangeFogThicknessReciprocalScale" type="xs:float" default="1"/>

    <xs:attribute name="AtmosBlurStdDev" type="xs:float" default="1.3"/>
    <xs:attribute name="AtmosBlurStart" type="xs:float" default="1000"/>
    <xs:attribute name="AtmosBlurEnd" type="xs:float" default="1500"/>
    
    <xs:attribute name="Flags" type="xs:int" default="0"/>
  </xs:complexType>

      <!-- T O N E   M A P   S E T T I N G S -->
  <xs:complexType name="toneMapSettingsType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="ToneMapSettings"/>
        <LeGe.NativeProperty name="BloomScale" nativeName="BloomScale"/>
        <LeGe.NativeProperty name="BloomThreshold" nativeName="BloomThreshold"/>
        <LeGe.NativeProperty name="BloomRampingFactor" nativeName="BloomRampingFactor"/>
        <LeGe.NativeProperty name="BloomDesaturationFactor" nativeName="BloomDesaturationFactor"/>
        <LeGe.NativeProperty name="BloomBlurStdDev" nativeName="BloomBlurStdDev"/>
        <LeGe.NativeProperty name="BloomBrightness" nativeName="BloomBrightness"/>
        <LeGe.NativeProperty name="SceneKey" nativeName="SceneKey"/>
        <LeGe.NativeProperty name="LuminanceMin" nativeName="LuminanceMin"/>
        <LeGe.NativeProperty name="LuminanceMax" nativeName="LuminanceMax"/>
        <LeGe.NativeProperty name="WhitePoint" nativeName="WhitePoint"/>
        <LeGe.NativeProperty name="Flags" nativeName="Flags"/>

        <scea.dom.editors.attribute category="Bloom" name="BloomScale" displayName="Bloom Scale" description="Use to change the color of the bloom effect"
          editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Bloom" name="BloomBrightness" displayName="Bloom Brightness" description="Brightness scale factor for bloom"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:1,100"/>
        <scea.dom.editors.attribute category="Bloom" name="BloomThreshold" displayName="Bloom Threshold" description="Brightness values above this point will start to bloom"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>
        <scea.dom.editors.attribute category="Bloom" name="BloomRampingFactor" displayName="Bloom Ramping Factor" description="How rapidly highlights start to bloom out"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1"/>
        <scea.dom.editors.attribute category="Bloom" name="BloomDesaturationFactor" displayName="Bloom Desaturation Factor" description="Controls how much of the underlying colour the bloom should pick up"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1"/>
        <scea.dom.editors.attribute category="Bloom" name="BloomBlurStdDev" displayName="Bloom Blur Standard Deviation" description="Controls the sharpness of the blur applied to the bloom"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:1,3"/>

        <scea.dom.editors.attribute category="Tonemap" name="SceneKey" displayName="Scene Key" description="Higher values result in an overall brighter look to the final image"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,.5"/>

        <scea.dom.editors.attribute category="Tonemap" name="LuminanceMin" displayName="Luminance Min" description="Clamps range of valid exposures"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>
        <scea.dom.editors.attribute category="Tonemap" name="LuminanceMax" displayName="Luminance Max" description="Clamps range of valid exposures"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>

        <scea.dom.editors.attribute category="Tonemap" name="WhitePoint" displayName="White Point" description="This brightness value will appear true white after exposure"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>

        <scea.dom.editors.attribute category="Tonemap" name="Flags" displayName="Flags"
          editor="Sce.Atf.Controls.PropertyEditing.FlagsUITypeEditor,Atf.Gui.WinForms:EnableToneMap,EnableBloom"
          converter="Sce.Atf.Controls.PropertyEditing.FlagsTypeConverter:EnableToneMap,EnableBloom"/>
        
        <scea.dom.editors category="Environment" name="ToneMapSettings" menuText="Environment/ToneMapSettings" description="Tone map and bloom settings"/>
        <LeGe.OpaqueListable label="ToneMapSettings"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:attribute name="BloomScale" type="xs:int" default="-1"/>
    <xs:attribute name="BloomThreshold" type="xs:float" default="4.5"/>
    <xs:attribute name="BloomRampingFactor" type="xs:float" default=".33"/>
    <xs:attribute name="BloomDesaturationFactor" type="xs:float" default=".5"/>
    <xs:attribute name="BloomBlurStdDev" type="xs:float" default="2.2"/>
    <xs:attribute name="BloomBrightness" type="xs:float" default="20"/>
    <xs:attribute name="SceneKey" type="xs:float" default=".18"/>
    <xs:attribute name="LuminanceMin" type="xs:float" default="0.06"/>
    <xs:attribute name="LuminanceMax" type="xs:float" default="1"/>
    <xs:attribute name="WhitePoint" type="xs:float" default="8"/>
    <xs:attribute name="Flags" type="xs:int" default="3"/>
  </xs:complexType>

      <!-- E N V   O B J E C T -->
  <xs:complexType name="envObjectType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeProperty name="transform" nativeName="Transform"/>
        <LeGe.NativeProperty name="visible" nativeName="Visible"/>
        <LeGe.NativeProperty name="name" nativeName="Name"/>
        <LeGe.NativeProperty nativeName="Bounds"/>
        <LeGe.NativeProperty nativeName="LocalBounds"/>
        <LeGe.NativeProperty nativeName="LocalToWorld"/>
        <LeGe.NativeProperty nativeName="VisibleHierarchy"/>

        <scea.dom.editors.attribute name="name" displayName="Name" description="Unique name of Game Object" category="General"/>
        
        <LeGe.GameObjectProperties />
        <LeGe.TransformUpdater />
        <LeGe.TransformObject />
        <LeGe.VisibleLockable />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="visibleTransformObjectType">
        <xs:attribute name="name" type="xs:ID" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

      <!-- E N V   S E T T I N G -->
  <xs:complexType name="envMiscType">
  </xs:complexType>

      <!-- E N V   S E T T I N G S -->
  <xs:complexType name="envSettingsType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="EnvSettings"/>
        <LeGe.NativeProperty name="Name" nativeName="Name"/>
        
        <scea.dom.editors.attribute name="Name" displayName="Name" description="Name of these settings"/>
        <scea.dom.editors category="Environment" name="EnvSettings" menuText="Environment/EnvSettings" description="Environment settings container" image="LevelEditorCore.Resources.gameObjectFolder.png"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="objects" type="envObjectType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="settings" type="envMiscType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ambient" type="ambientSettingsType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="tonemap" type="toneMapSettingsType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" default="environment"/>
  </xs:complexType>

  <xs:complexType name="envSettingsFolderType">
    <xs:annotation>
      <xs:appinfo>
        <scea.dom.editors.attribute name="ExportTarget" displayName="Export Target" category="Export" description="Destination file written to in export operations"/>
        <scea.dom.editors.attribute name="ExportEnabled" displayName="Export Enabled" category="Export" description="Enable or disable export of this item" editor="Sce.Atf.Controls.PropertyEditing.BoolEditor,Atf.Gui.WinForms"/>
        
        <LeGe.OpaqueListable label="EnvSettingsFolder"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="settings" type="envSettingsType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="ExportTarget" type="xs:string" default="env.txt" />
    <xs:attribute name="ExportEnabled" type="xs:boolean" default="true"/>
  </xs:complexType>

      <!-- S T A T I C   L I G H T S -->
  <xs:complexType name="staticLightType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeProperty name="Diffuse" nativeName="Diffuse"/>
        <LeGe.NativeProperty name="DiffuseBrightness" nativeName="DiffuseBrightness"/>
        <LeGe.NativeProperty name="DiffuseModel" nativeName="DiffuseModel"/>
        <LeGe.NativeProperty name="DiffuseWideningMin" nativeName="DiffuseWideningMin"/>
        <LeGe.NativeProperty name="DiffuseWideningMax" nativeName="DiffuseWideningMax"/>
        <LeGe.NativeProperty name="Specular" nativeName="Specular"/>
        <LeGe.NativeProperty name="SpecularBrightness" nativeName="SpecularBrightness"/>

        <scea.dom.editors.attribute category="Diffuse" name="Diffuse" displayName="Diffuse" description="Diffuse Color"
          editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Diffuse" name="DiffuseBrightness" displayName="Diffuse Brightness" description="Brightness of the diffuse part of the light"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,100"/>
        <scea.dom.editors.attribute category="Diffuse" name="DiffuseModel" displayName="Diffuse Model"
          enum="Lambert=0,Soft=1"/>
        <scea.dom.editors.attribute category="Diffuse" name="DiffuseWideningMin" displayName="Widening Min" description="Minimum value for the widening effect for diffuse light"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,2.5"/>
        <scea.dom.editors.attribute category="Diffuse" name="DiffuseWideningMax" displayName="Widening Max" description="Maximum value for the widening effect for diffuse light"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,5"/>

        <scea.dom.editors.attribute category="Specular" name="Specular" displayName="Specular" description="Specular Color"
          editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Specular" name="SpecularBrightness" displayName="Specular Brightness" description="Brightness of the specular part of the light"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,100"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="envObjectType">
        <xs:attribute name="Diffuse" type="xs:int" default="-1"/>
        <xs:attribute name="DiffuseBrightness" type="xs:float" default="1"/>
        <xs:attribute name="DiffuseModel" type="xs:int" default="1"/>
        <xs:attribute name="DiffuseWideningMin" type="xs:float" default="0.5"/>
        <xs:attribute name="DiffuseWideningMax" type="xs:float" default="2.5"/>
        <xs:attribute name="Specular" type="xs:int" default="-1"/>
        <xs:attribute name="SpecularBrightness" type="xs:float" default="1"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="directionalLightType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="DirectionalLight"/>
        <LeGe.NativeProperty name="Flags" nativeName="Flags"/>
        <LeGe.NativeProperty name="ShadowResolveModel" nativeName="ShadowResolveModel"/>

        <scea.dom.editors.attribute category="Other" name="Flags" displayName="Flags"
          editor="Sce.Atf.Controls.PropertyEditing.FlagsUITypeEditor,Atf.Gui.WinForms:CastShadows"
          converter="Sce.Atf.Controls.PropertyEditing.FlagsTypeConverter:CastShadows"/>
        <scea.dom.editors.attribute category="Other" name="ShadowResolveModel" displayName="Shadow Resolve Model"
          enum="Noisy=0,Smooth=1"/>

        <scea.dom.editors category="Environment" name="DirLight" menuText="Environment/DirLight" description="A directional light" image="LevelEditorCore.Resources.Lighting16.png"/>
        <LeGe.NativeVis geo="PointToOrigin"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="staticLightType">
        <xs:attribute name="Flags" type="xs:int" default="0"/>
        <xs:attribute name="ShadowResolveModel" type="xs:int" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="areaLightType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="AreaLight"/>
        <LeGe.NativeProperty name="Shape" nativeName="Shape"/>
        <scea.dom.editors.attribute name="Shape" enum="Sphere=1,Tube=2,Rectangle=3,Disc=4" 
          category="Light" displayName="Shape" description="The shape of the area light"/>
        <scea.dom.editors category="Environment" name="AreaLight" menuText="Environment/AreaLight" description="An area light (eg, sphere, tube, rectangle, disc)" image="LevelEditorCore.Resources.Lighting16.png"/>
        <LeGe.NativeVis geo="AreaLight"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="staticLightType">
        <xs:attribute name="Shape" type="xs:int" default="1"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

      <!-- S H A D O W   F R U S T U M   S E T T I N G S -->
  <xs:complexType name="shadowFrustumSettings">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="ShadowFrustumSettings"/>
        <LeGe.NativeProperty name="Name" nativeName="Name"/>
        <LeGe.NativeProperty name="Flags" nativeName="Flags"/>
        <LeGe.NativeProperty name="FrustumCount" nativeName="FrustumCount"/>
        <LeGe.NativeProperty name="MaxDistanceFromCamera" nativeName="MaxDistanceFromCamera"/>
        <LeGe.NativeProperty name="FrustumSizeFactor" nativeName="FrustumSizeFactor"/>
        <LeGe.NativeProperty name="FocusDistance" nativeName="FocusDistance"/>
        <LeGe.NativeProperty name="TextureSize" nativeName="TextureSize"/>
        <LeGe.NativeProperty name="SingleSidedSlopeScaledBias" nativeName="SingleSidedSlopeScaledBias"/>
        <LeGe.NativeProperty name="SingleSidedDepthBiasClamp" nativeName="SingleSidedDepthBiasClamp"/>
        <LeGe.NativeProperty name="SingleSidedRasterDepthBias" nativeName="SingleSidedRasterDepthBias"/>
        <LeGe.NativeProperty name="DoubleSidedSlopeScaledBias" nativeName="DoubleSidedSlopeScaledBias"/>
        <LeGe.NativeProperty name="DoubleSidedDepthBiasClamp" nativeName="DoubleSidedDepthBiasClamp"/>
        <LeGe.NativeProperty name="DoubleSidedRasterDepthBias" nativeName="DoubleSidedRasterDepthBias"/>
        <LeGe.NativeProperty name="WorldSpaceResolveBias" nativeName="WorldSpaceResolveBias"/>
        <LeGe.NativeProperty name="BlurAngleDegrees" nativeName="BlurAngleDegrees"/>
        <LeGe.NativeProperty name="MinBlurSearch" nativeName="MinBlurSearch"/>
        <LeGe.NativeProperty name="MaxBlurSearch" nativeName="MaxBlurSearch"/>
        <LeGe.NativeProperty name="Light" nativeName="Light"/>

        <scea.dom.editors.attribute category="Projection" name="FrustumCount" displayName="Frustum Count" description="Number of separate shadow frustums (1 to 6)"/>
        <scea.dom.editors.attribute category="Projection" name="MaxDistanceFromCamera" displayName="Max Distance From Camera" description="Furtherest distance from camera for objects to cast shadows"/>
        <scea.dom.editors.attribute category="Projection" name="FrustumSizeFactor" displayName="Frustum Size Factor" description="Factor controlling the size of the shadow frustums"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,8"/>
        <scea.dom.editors.attribute category="Projection" name="FocusDistance" displayName="Focus Distance" description="The highest precision shadows are at this number of units in front of the camera"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>

        <scea.dom.editors.attribute category="Precision" name="TextureSize" displayName="Texture Size" description="Size of the shadow projection texture (use a power of 2, normally 1024, 2048 or 4096)"/>
        
        <scea.dom.editors.attribute category="Precision" name="SingleSidedSlopeScaledBias" displayName="Slope Scaled Bias Factor" description="Raise to reduce 'acne' artefacts at glancing angles to the shadow projection"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:-20,20"/>
        <scea.dom.editors.attribute category="Precision" name="SingleSidedDepthBiasClamp" displayName="Depth Bias Clamp" description="Low-level depth bias clamp value"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:-100,100"/>
        <scea.dom.editors.attribute category="Precision" name="SingleSidedRasterDepthBias" displayName="Depth Bias" description="Low-level depth bias value (in integer zbuffer units)"/>

        <scea.dom.editors.attribute category="Precision" name="DoubleSidedSlopeScaledBias" displayName="Double-sided Slope Scaled Bias factor" description="Same as Slope Scaled Bias Factor, but for double sided geometry"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:-20,20"/>
        <scea.dom.editors.attribute category="Precision" name="DoubleSidedDepthBiasClamp" displayName="Double-sided Depth Bias Clamp" description="Same as Depth Bias Clamp, but for double sided geometry"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:-100,100"/>
        <scea.dom.editors.attribute category="Precision" name="DoubleSidedRasterDepthBias" displayName="Double-sided Depth Bias" description="Same as Depth Bias, but for double sided geometry"/>
        
        <scea.dom.editors.attribute category="Precision" name="WorldSpaceResolveBias" displayName="World Space Resolve Bias" description="Resolve bias (world space)"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:-0.2,0.2"/>
        
        <scea.dom.editors.attribute category="Flags" name="Flags" displayName="Flags"
          editor="Sce.Atf.Controls.PropertyEditing.FlagsUITypeEditor,Atf.Gui.WinForms:HighPrecisionDepths,ArbitraryCascades,RayTraced,CullFrontFaces"
          converter="Sce.Atf.Controls.PropertyEditing.FlagsTypeConverter:HighPrecisionDepths,ArbitraryCascades,RayTraced,CullFrontFaces"/>

        <scea.dom.editors.attribute category="Resolve" name="BlurAngleDegrees" displayName="Blur Angle" description="Angle of the penumbra of the light (higher numbers mean softer shadows)"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1"/>
        <scea.dom.editors.attribute category="Resolve" name="MinBlurSearch" displayName="Min Blur Search" description="Minimum pixel radius blur for shadows. Increase if there is a lot of scintillation in the shadows."
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,128"/>
        <scea.dom.editors.attribute category="Resolve" name="MaxBlurSearch" displayName="Max Blur Search" description="Maximum pixel radius blur for shadows. Decrease if shadows appear grainy and excessively blurred. Try Blur Angle as well."
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,128"/>

        <scea.dom.editors.attribute category="General" name="Name" displayName="Name"/>
        <scea.dom.editors.attribute category="General" name="Light" displayName="Attached Light"/>

        <scea.dom.editors category="Environment" name="ShadowFrustumSettings" menuText="Environment/ShadowFrustumSettings" description="Shadow frustum settings" image="LevelEditorCore.Resources.Shadow16.png"/>
        <LeGe.OpaqueListable label="ShadowFrustumSettings"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="envMiscType">
        <xs:attribute name="Name" type="xs:string" default="shadows"/>
        <xs:attribute name="Flags" type="xs:int" default="1"/>
        <xs:attribute name="FrustumCount" type="xs:int" default="5"/>
        <xs:attribute name="MaxDistanceFromCamera" type="xs:float" default="1000"/>
        <xs:attribute name="FrustumSizeFactor" type="xs:float" default="3.8"/>
        <xs:attribute name="FocusDistance" type="xs:float" default="3"/>
        <xs:attribute name="TextureSize" type="xs:int" default="1024"/>
        <xs:attribute name="SingleSidedSlopeScaledBias" type="xs:float" default="1"/>
        <xs:attribute name="SingleSidedDepthBiasClamp" type="xs:float" default="0"/>
        <xs:attribute name="SingleSidedRasterDepthBias" type="xs:int" default="300"/>
        <xs:attribute name="DoubleSidedSlopeScaledBias" type="xs:float" default="1"/>
        <xs:attribute name="DoubleSidedDepthBiasClamp" type="xs:float" default="0"/>
        <xs:attribute name="DoubleSidedRasterDepthBias" type="xs:int" default="300"/>
        <xs:attribute name="WorldSpaceResolveBias" type="xs:float" default="0"/>
        <xs:attribute name="BlurAngleDegrees" type="xs:float" default=".25"/>
        <xs:attribute name="MinBlurSearch" type="xs:float" default=".5"/>
        <xs:attribute name="MaxBlurSearch" type="xs:float" default="25"/>
        <xs:attribute name="Light" type="xs:string" default="Sun"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

      <!-- O C E A N   S E T T I N G S -->
  <xs:complexType name="oceanSettings">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="OceanSettings"/>
        <LeGe.NativeProperty name="Enable" nativeName="Enable"/>
        <LeGe.NativeProperty name="WindAngle" nativeName="WindAngle"/>
        <LeGe.NativeProperty name="WindVelocity" nativeName="WindVelocity"/>
        <LeGe.NativeProperty name="PhysicalDimensions" nativeName="PhysicalDimensions"/>
        <LeGe.NativeProperty name="GridDimensions" nativeName="GridDimensions"/>
        <LeGe.NativeProperty name="StrengthConstantXY" nativeName="StrengthConstantXY"/>
        <LeGe.NativeProperty name="StrengthConstantZ" nativeName="StrengthConstantZ"/>
        <LeGe.NativeProperty name="DetailNormalsStrength" nativeName="DetailNormalsStrength"/>
        <LeGe.NativeProperty name="SpectrumFade" nativeName="SpectrumFade"/>
        <LeGe.NativeProperty name="ScaleAgainstWind" nativeName="ScaleAgainstWind"/>
        <LeGe.NativeProperty name="SuppressionFactor" nativeName="SuppressionFactor"/>
        <LeGe.NativeProperty name="GridShiftSpeed" nativeName="GridShiftSpeed"/>
        <LeGe.NativeProperty name="BaseHeight" nativeName="BaseHeight"/>
        <LeGe.NativeProperty name="FoamThreshold" nativeName="FoamThreshold"/>
        <LeGe.NativeProperty name="FoamIncreaseSpeed" nativeName="FoamIncreaseSpeed"/>
        <LeGe.NativeProperty name="FoamIncreaseClamp" nativeName="FoamIncreaseClamp"/>
        <LeGe.NativeProperty name="FoamDecrease" nativeName="FoamDecrease"/>

        <scea.dom.editors.attribute category="General" name="Enable" displayName="Enable" description="Enable or disable ocean rendering" editor="Sce.Atf.Controls.PropertyEditing.BoolEditor,Atf.Gui.WinForms"/>
        
        <scea.dom.editors.attribute category="Animation" name="WindAngle" displayName="Wind Angle" description="Angle of the wind (this controls the movement of waves)"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,6.28318"/>
        <scea.dom.editors.attribute category="Animation" name="WindVelocity" displayName="Wind Velocity" description="The speed of the wind (in m/s). Higher numbers create more turbulent waves."
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,100"/>
        
        <scea.dom.editors.attribute category="General" name="PhysicalDimensions" displayName="Size" description="Size of the repeating area of the ocean, in metres"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1024"/>
        <scea.dom.editors.attribute category="General" name="GridDimensions" displayName="Grid Detail" description="Size of the grid that is used for simulating the ocean"/>

        <scea.dom.editors.attribute category="Wave Shape" name="StrengthConstantXY" displayName="XY Scale Factor" description="Scales the amount of movement in XY direction"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,2"/>
        <scea.dom.editors.attribute category="Wave Shape" name="StrengthConstantZ" displayName="Z Scale Factor" description="Scales the amount of movement in Z direction"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,2"/>

        <scea.dom.editors.attribute category="Detail" name="DetailNormalsStrength" displayName="Detail normals strength" description="The strength of the detail normals (higher numbers make them more visible)"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,2"/>

        <scea.dom.editors.attribute category="Animation" name="ScaleAgainstWind" displayName="Scale Against Wind" description="Affects the movement of the waves that travel in the opposite direction to the wind"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1"/>
        <scea.dom.editors.attribute category="Animation" name="SuppressionFactor" displayName="Suppression Factor" description=""/>

        <scea.dom.editors.attribute category="Animation" name="GridShiftSpeed" displayName="Grid Shift Factor" description="Animates the entire ocean, moving in the direction of the wind"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,.2"/>

        <scea.dom.editors.attribute category="General" name="BaseHeight" displayName="Base Height" description="Z position for the surface of the ocean"/>

        <scea.dom.editors.attribute category="Foam" name="FoamThreshold" displayName="Foam Threshold" description=""/>
        <scea.dom.editors.attribute category="Foam" name="FoamIncreaseSpeed" displayName="Foam Increase Speed" description=""/>
        <scea.dom.editors.attribute category="Foam" name="FoamIncreaseClamp" displayName="Foam Increase Clamp" description=""/>
        <scea.dom.editors.attribute category="Foam" name="FoamDecrease" displayName="Foam Decrease" description=""/>

        <scea.dom.editors category="Ocean" name="OceanSettings" menuText="Ocean/OceanSettings" description="Settings for the ocean rendering"/>
        <LeGe.OpaqueListable label="OceanSettings"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="envMiscType">
        <xs:attribute name="Enable" type="xs:boolean" default="false"/>
        <xs:attribute name="WindAngle" type="xs:float" default="0"/>
        <xs:attribute name="WindVelocity" type="xs:float" default="48"/>
        <xs:attribute name="PhysicalDimensions" type="xs:float" default="256"/>
        <xs:attribute name="GridDimensions" type="xs:unsignedInt" default="256"/>
        <xs:attribute name="StrengthConstantXY" type="xs:float" default="1"/>
        <xs:attribute name="StrengthConstantZ" type="xs:float" default=".61"/>
        <xs:attribute name="DetailNormalsStrength" type="xs:float" default=".65"/>
        <xs:attribute name="SpectrumFade" type="xs:float" default="0"/>
        <xs:attribute name="ScaleAgainstWind" type="xs:float" default=".25"/>
        <xs:attribute name="SuppressionFactor" type="xs:float" default=".06"/>
        <xs:attribute name="GridShiftSpeed" type="xs:float" default=".062"/>
        <xs:attribute name="BaseHeight" type="xs:float" default="100"/>

        <xs:attribute name="FoamThreshold" type="xs:float" default=".3"/>
        <xs:attribute name="FoamIncreaseSpeed" type="xs:float" default="24"/>
        <xs:attribute name="FoamIncreaseClamp" type="xs:float" default="8"/>
        <xs:attribute name="FoamDecrease" type="xs:unsignedInt" default="1"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

      <!-- O C E A N   L I G H T I N G   S E T T I N G S -->
  <xs:complexType name="oceanLightingSettings">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="OceanLightingSettings"/>
        <LeGe.NativeProperty name="FoamBrightness" nativeName="FoamBrightness"/>
        <LeGe.NativeProperty name="OpticalThicknessReciprocalScalar" nativeName="OpticalThicknessReciprocalScalar"/>
        <LeGe.NativeProperty name="OpticalThicknessReciprocalColor" nativeName="OpticalThicknessReciprocalColor"/>
        <LeGe.NativeProperty name="SkyReflectionBrightness" nativeName="SkyReflectionBrightness"/>
        <LeGe.NativeProperty name="UpwellingScale" nativeName="UpwellingScale"/>
        <LeGe.NativeProperty name="RefractiveIndex" nativeName="RefractiveIndex"/>
        <LeGe.NativeProperty name="ReflectionBumpScale" nativeName="ReflectionBumpScale"/>
        <LeGe.NativeProperty name="DetailNormalFrequency" nativeName="DetailNormalFrequency"/>
        <LeGe.NativeProperty name="SpecularityFrequency" nativeName="SpecularityFrequency"/>
        <LeGe.NativeProperty name="MatSpecularMin" nativeName="MatSpecularMin"/>
        <LeGe.NativeProperty name="MatSpecularMax" nativeName="MatSpecularMax"/>
        <LeGe.NativeProperty name="MatRoughness" nativeName="MatRoughness"/>
        
        <scea.dom.editors.attribute category="Color" name="OpticalThicknessReciprocalScalar" displayName="Optical Thickness Scale" 
                                    description="This amount of light that is blocked by the water. It is the main contributor to the 'color' of the water. So, typically this will be either a blue or green color. This is actually the reciprocal of the optical thickness, so brighter colors will result in clearer water, and dark colors will give the impression of deap or polluted water."
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,200"/>
        <scea.dom.editors.attribute category="Color" name="OpticalThicknessReciprocalColor" displayName="Optical Thickness" 
                                    description="This amount of light that is blocked by the water. It is the main contributor to the 'color' of the water. So, typically this will be either a blue or green color. This is actually the reciprocal of the optical thickness, so brighter colors will result in clearer water, and dark colors will give the impression of deap or polluted water."
                                    editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms"
                                    converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>

        <scea.dom.editors.attribute category="Color" name="FoamBrightness" displayName="Foam Brightness" description="Brightness of the foam on the surface of the ocean"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>
        <scea.dom.editors.attribute category="Color" name="SkyReflectionBrightness" displayName="Sky Reflection Brightness" description="Brightness of the reflection of the sky"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,3"/>
        <scea.dom.editors.attribute category="Color" name="UpwellingScale" displayName="Upwelling scale" description="Brightness of the upwelling light. This is light that bounces into and them out of the ocean."
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1"/>

        <scea.dom.editors.attribute category="Detail" name="DetailNormalFrequency" displayName="Detail Normal Frequency" description="Size of the detail normals (higher numbers give finer detail)"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>
        <scea.dom.editors.attribute category="Detail" name="SpecularityFrequency" displayName="Specularity Frequency" description="Mapping constant for the specularity texture"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,20"/>

        <scea.dom.editors.attribute category="Material" name="MatRoughness" displayName="Roughness" description="Roughness constant"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1"/>
        <scea.dom.editors.attribute category="Material" name="RefractiveIndex" displayName="Refractive Index"
          editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,3"/>

        <scea.dom.editors category="Ocean" name="OceanLightingSettings" menuText="Ocean/OceanLightingSettings" description="Settings for lighting of the ocean surface"/>
        <LeGe.OpaqueListable label="OceanLightingSettings"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="envMiscType">
        <xs:attribute name="FoamBrightness" type="xs:float" default="0.08"/>
        <xs:attribute name="OpticalThicknessReciprocalScalar" type="xs:float" default="0.05"/>
        <xs:attribute name="OpticalThicknessReciprocalColor" type="xs:int" default="-1"/>
        <xs:attribute name="SkyReflectionBrightness" type="xs:float" default="1"/>
        <xs:attribute name="UpwellingScale" type="xs:float" default="1"/>
        <xs:attribute name="RefractiveIndex" type="xs:float" default="1.333"/>
        <xs:attribute name="ReflectionBumpScale" type="xs:float" default=".1"/>
        <xs:attribute name="DetailNormalFrequency" type="xs:float" default="6.727"/>
        <xs:attribute name="SpecularityFrequency" type="xs:float" default="7.1"/>
        <xs:attribute name="MatSpecularMin" type="xs:float" default=".3"/>
        <xs:attribute name="MatSpecularMax" type="xs:float" default=".6"/>
        <xs:attribute name="MatRoughness" type="xs:float" default=".15"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

      <!-- E N V   U T I L I T Y -->
  <xs:complexType name="envUtilityType">
    <xs:annotation>
      <xs:appinfo>
        <scea.dom.editors.attribute category="General" name="SunAngle" displayName="Sun Angle" description="Direction of the sun, along the path set by terrain shadows"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:-90,90"/>
        <scea.dom.editors.attribute category="General" name="SunName" displayName="Sun Name" description="Name of the light that represents the sun (typically just 'Sun')"/>

        <scea.dom.editors category="Environment" name="EnvUtility" menuText="Environment/EnvUtility" description="Utilities and general parameters for the global environment"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="envMiscType">
        <xs:attribute name="SunAngle" type="xs:float" default="0"/>
        <xs:attribute name="SunName" type="xs:string" default="Sun"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

      <!-- F O G   V O L U M E -->
  <xs:complexType name="fogVolumeType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="FogVolume"/>
        <LeGe.NativeProperty name="ReciprocalThickness" nativeName="ReciprocalThickness"/>
        <LeGe.NativeProperty name="NoiseThicknessScale" nativeName="NoiseThicknessScale"/>
        <LeGe.NativeProperty name="NoiseSpeed" nativeName="NoiseSpeed"/>
        <LeGe.NativeProperty name="SunInscatter" nativeName="SunInscatter"/>
        <LeGe.NativeProperty name="SunInscatterScale" nativeName="SunInscatterScale"/>
        <LeGe.NativeProperty name="AmbientInscatter" nativeName="AmbientInscatter"/>
        <LeGe.NativeProperty name="AmbientInscatterScale" nativeName="AmbientInscatterScale"/>
        <LeGe.NativeProperty name="ESM_C" nativeName="ESM_C"/>
        <LeGe.NativeProperty name="ShadowBias" nativeName="ShadowBias"/>
        <LeGe.NativeProperty name="JitteringAmount" nativeName="JitteringAmount"/>
        <LeGe.NativeProperty name="HeightStart" nativeName="HeightStart"/>
        <LeGe.NativeProperty name="HeightEnd" nativeName="HeightEnd"/>
        <LeGe.NativeProperty name="EnableShadows" nativeName="EnableShadows"/>

        <scea.dom.editors.attribute category="Density" name="ReciprocalThickness" displayName="Thickness Factor"
                                    description="This controls out-scatter for the fog, or the amount of 'darkening' caused by the fog. Smaller numbers mean more light is deflected away, and the scene becomes darker. This value is the reciprocal of the optical thickness."
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:1,1500"/>
        <scea.dom.editors.attribute category="Density" name="NoiseThicknessScale" displayName="Noise Thickess Scale"/>
        <scea.dom.editors.attribute category="Density" name="NoiseSpeed" displayName="Noise Speed"/>

        <scea.dom.editors.attribute category="Color" name="SunInscatter" displayName="Sun Inscatter"
                                    description="This is the 'inscatter' (or brightening) caused by the fog. This is in the direction of the sun."
                                    editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Color" name="AmbientInscatter" displayName="Ambient Inscatter"
                                    description="This is the 'inscatter' (or brightening) caused by the fog. This is the non-directional, ambient component."
                                    editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Color" name="SunInscatterScale" displayName="Sun Inscatter Scale"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,0.08"/>
        <scea.dom.editors.attribute category="Color" name="AmbientInscatterScale" displayName="Ambient Inscatter Scale"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,0.08"/>
        
        <scea.dom.editors.attribute category="Shadowing" name="ESM_C" displayName="ESM_C"/>
        <scea.dom.editors.attribute category="Shadowing" name="ShadowBias" displayName="ShadowBias"/>
        <scea.dom.editors.attribute category="Shadowing" name="JitteringAmount" displayName="JitteringAmount"/>
        <scea.dom.editors.attribute category="Shadowing" name="EnableShadows" displayName="EnableShadows" editor="Sce.Atf.Controls.PropertyEditing.BoolEditor,Atf.Gui.WinForms"/>
        
        <scea.dom.editors.attribute category="Range" name="HeightStart" displayName="Fog Ceiling"
                                    description="This is the height for the 'ceiling' of the fog bank. At this height, fog is at zero density."/>
        <scea.dom.editors.attribute category="Range" name="HeightEnd" displayName="Fog Floor"
                                    description="This is the height for the 'floor' of the fog bank. At this height, fog is at the maximum density."/>
        
        <scea.dom.editors category="Environment" name="FogVolume" menuText="Lights/FogVolume" description="Volumetric fog effect"/>
        <LeGe.OpaqueListable label="Fog Volume"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="gameObjectType">
        <xs:attribute name="ReciprocalThickness" type="xs:float" default="500"/>
        <xs:attribute name="NoiseThicknessScale" type="xs:float" default="0"/>
        <xs:attribute name="NoiseSpeed" type="xs:float" default="1"/>

        <xs:attribute name="SunInscatter" type="xs:int" default="-1"/>
        <xs:attribute name="SunInscatterScale" type="xs:float" default="1"/>
        <xs:attribute name="AmbientInscatter" type="xs:int" default="-1"/>
        <xs:attribute name="AmbientInscatterScale" type="xs:float" default="1"/>

        <xs:attribute name="ESM_C" type="xs:float" default="20"/>
        <xs:attribute name="ShadowBias" type="xs:float" default="0.000001"/>
        <xs:attribute name="JitteringAmount" type="xs:float" default="0.5"/>
        
        <xs:attribute name="HeightStart" type="xs:float" default="100"/>
        <xs:attribute name="HeightEnd" type="xs:float" default="0"/>
        <xs:attribute name="EnableShadows" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  
  </xs:complexType>

  <xs:complexType name="fogVolumeRendererType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="FogVolumeRenderer"/>
        <LeGe.NativeProperty name="BlurredShadowSize" nativeName="BlurredShadowSize"/>
        <LeGe.NativeProperty name="ShadowDownsample" nativeName="ShadowDownsample"/>
        <LeGe.NativeProperty name="SkipShadowFrustums" nativeName="SkipShadowFrustums"/>
        <LeGe.NativeProperty name="MaxShadowFrustums" nativeName="MaxShadowFrustums"/>
        <LeGe.NativeProperty name="GridDimensions" nativeName="GridDimensions"/>
        <LeGe.NativeProperty name="WorldSpaceGridDepth" nativeName="WorldSpaceGridDepth"/>

        <scea.dom.editors.attribute category="General" name="BlurredShadowSize" displayName="BlurredShadowSize"/>
        <scea.dom.editors.attribute category="General" name="ShadowDownsample" displayName="ShadowDownsample"/>
        <scea.dom.editors.attribute category="General" name="SkipShadowFrustums" displayName="SkipShadowFrustums"/>
        <scea.dom.editors.attribute category="General" name="MaxShadowFrustums" displayName="MaxShadowFrustums"/>
        <scea.dom.editors.attribute category="General" name="GridDimensions" displayName="GridDimensions"/>
        <scea.dom.editors.attribute category="General" name="WorldSpaceGridDepth" displayName="WorldSpaceGridDepth"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:20,750"/>

        <scea.dom.editors category="Environment" name="FogVolumeRenderer" menuText="Lights/FogVolumeRenderer" description="Configuration options for fog volume renderer"/>
        <LeGe.OpaqueListable label="Fog Volume Renderer Config"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="envMiscType">
        <xs:attribute name="BlurredShadowSize" type="xs:int" default="256"/>
        <xs:attribute name="ShadowDownsample" type="xs:int" default="4"/>
        <xs:attribute name="SkipShadowFrustums" type="xs:int" default="1"/>
        <xs:attribute name="MaxShadowFrustums" type="xs:int" default="3"/>
        <xs:attribute name="GridDimensions" type="int3Type" default="160 90 128"/>
        <xs:attribute name="WorldSpaceGridDepth" type="xs:float" default="150"/>
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>

      <!-- S H A L L O W   S U R F A C E   V O L U M E -->
  <xs:complexType name="shallowSurfaceType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="ShallowSurface"/>
        <LeGe.NativeProperty name="Marker" nativeName="Marker"/>
        
        <LeGe.NativeProperty name="GridPhysicalSize" nativeName="GridPhysicalSize"/>
        <LeGe.NativeProperty name="GridDims" nativeName="GridDims"/>
        <LeGe.NativeProperty name="SimGridCount" nativeName="SimGridCount"/>
        <LeGe.NativeProperty name="BaseHeight" nativeName="BaseHeight"/>
        <LeGe.NativeProperty name="SimMethod" nativeName="SimMethod"/>
        <LeGe.NativeProperty name="RainQuantity" nativeName="RainQuantity"/>
        <LeGe.NativeProperty name="EvaporationConstant" nativeName="EvaporationConstant"/>
        <LeGe.NativeProperty name="PressureConstant" nativeName="PressureConstant"/>
        
        <LeGe.NativeProperty name="OpticalThicknessReciprocalColor" nativeName="OpticalThicknessReciprocalColor"/>
        <LeGe.NativeProperty name="OpticalThicknessReciprocalScalar" nativeName="OpticalThicknessReciprocalScalar"/>
        <LeGe.NativeProperty name="FoamColor" nativeName="FoamColor"/>
        <LeGe.NativeProperty name="Specular" nativeName="Specular"/>
        <LeGe.NativeProperty name="Roughness" nativeName="Roughness"/>
        <LeGe.NativeProperty name="RefractiveIndex" nativeName="RefractiveIndex"/>
        <LeGe.NativeProperty name="UpwellingScale" nativeName="UpwellingScale"/>
        <LeGe.NativeProperty name="SkyReflectionScale" nativeName="SkyReflectionScale"/>

        <scea.dom.editors.attribute category="General" name="Marker" displayName="Marker"/>

        <scea.dom.editors.attribute category="Grid" name="GridPhysicalSize" displayName="Grid world space size"
                                    description="Size of each grid, in world space units. Note that this must divide evenly into the size of a terrain node."/>
        <scea.dom.editors.attribute category="Grid" name="GridDims" displayName="Simulation resolution"
                                    description="Resolution of the simulation grid. Generally use a power of 2."/>
        <scea.dom.editors.attribute category="Grid" name="SimGridCount" displayName="Grid Count"
                                    description="Maximum number of simulation grids that can be active at a time (usually small, eg 8 or 12)."/>
        <scea.dom.editors.attribute category="General" name="BaseHeight" displayName="Base water height"/>

        <scea.dom.editors.attribute category="Simulation" name="SimMethod" displayName="Simulation Method"
                                    description="Simulation method for animation. PipeModel is cheaper and simplier. But the JabobiRelax method handles water depth better. The models produce subtly different animation."
                                    enum="PipeModel=0,JacobiRelax=1"/>
        <scea.dom.editors.attribute category="Simulation" name="RainQuantity" displayName="RainQuantity"
                                    description="Quantity of rain fall added to the simulation, every frame."/>
        <scea.dom.editors.attribute category="Simulation" name="EvaporationConstant" displayName="EvaporationConstant"
                                    description="Simple percentage based evaporation. 1 means no evaporation, 0 means every evaporates instantly."
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,1"/>
        <scea.dom.editors.attribute category="Simulation" name="PressureConstant" displayName="PressureConstant"
                                    description="Constant used by the PipeModel for controlling the size of waves. Try adjusting if waves seem too big or too small."/>
        
        <scea.dom.editors.attribute category="Lighting" name="OpticalThicknessReciprocalColor" displayName="Optical Thickness"
                                    editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Lighting" name="OpticalThicknessReciprocalScalar" displayName="Optical Thickness Scalar"
                                    editor="Sce.Atf.Controls.PropertyEditing.BoundedFloatEditor,Atf.Gui.WinForms:0,200"/>
        <scea.dom.editors.attribute category="Lighting" name="FoamColor" displayName="Foam Color"
                                    editor="Sce.Atf.Controls.PropertyEditing.ColorPickerEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.IntColorConverter"/>
        <scea.dom.editors.attribute category="Lighting" name="Specular" displayName="Specular"/>
        <scea.dom.editors.attribute category="Lighting" name="Roughness" displayName="Roughness"/>
        <scea.dom.editors.attribute category="Lighting" name="RefractiveIndex" displayName="Refractive Index"/>
        <scea.dom.editors.attribute category="Lighting" name="UpwellingScale" displayName="Upwelling Brightness"/>
        <scea.dom.editors.attribute category="Lighting" name="SkyReflectionScale" displayName="Sky Reflection Brightness"/>
        
        <scea.dom.editors category="Environment" name="ShallowSurface" menuText="Lights/ShallowSurface" description="Shallow water surface (eg, a lake surface)"/>
        <LeGe.OpaqueListable label="Shallow Surface"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="gameObjectType">
        <xs:attribute name="Marker" type="xs:string" default=""/>

        <xs:attribute name="GridPhysicalSize" type="xs:float" default="64"/>
        <xs:attribute name="GridDims" type="xs:unsignedInt" default="128"/>
        <xs:attribute name="SimGridCount" type="xs:unsignedInt" default="12"/>
        <xs:attribute name="BaseHeight" type="xs:float" default="0"/>
        <xs:attribute name="SimMethod" type="xs:int" default="0"/>
        <xs:attribute name="RainQuantity" type="xs:float" default="0"/>
        <xs:attribute name="EvaporationConstant" type="xs:float" default="1"/>
        <xs:attribute name="PressureConstant" type="xs:float" default="150"/>
      
        <xs:attribute name="OpticalThicknessReciprocalColor" type="xs:int" default="-1"/>
        <xs:attribute name="OpticalThicknessReciprocalScalar" type="xs:float" default="1"/>
        <xs:attribute name="FoamColor" type="xs:int" default="-1"/>
        <xs:attribute name="Specular" type="xs:float" default=".22"/>
        <xs:attribute name="Roughness" type="xs:float" default=".06"/>
        <xs:attribute name="RefractiveIndex" type="xs:float" default="1.3333"/>
        <xs:attribute name="UpwellingScale" type="xs:float" default="0.33"/>
        <xs:attribute name="SkyReflectionScale" type="xs:float" default="0.75"/>
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>
  
</xs:schema>

