Foreign/SonyLE/LevelEditorXLE/Schema/xlemarkers.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="gap"
  xmlns="gap"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="gameobject.xsd"/>
  <xs:include schemaLocation="basictypes.xsd"/>

  <!-- ......................................................................... -->
  
  <xs:complexType name="markerPointType">

    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="MarkerPoint"/>
        <LeGe.NativeVis geo="sphere"/>
        <LeGe.NativeProperty name="translate" nativeName="Translation"/>
        <scea.dom.editors.attribute name="translate" displayName="Translation" category="General"
                                    editor="Sce.Atf.Controls.PropertyEditing.NumericTupleEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.FloatArrayConverter"/>
        <scea.dom.editors name="MarkerPoint" category="Markers" image="LevelEditorCore.Resources.gameObject.png" menuText="MarkerPoint" description="MarkerPoint"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:attribute name="translate" type="vector3Type" default="0 0 0"/>
  </xs:complexType>

  <!-- ......................................................................... -->
  
  <xs:complexType name="triMeshMarkerType">

    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="TriMeshMarker"/>
        <LeGe.NativeVis geo="TriMeshMarker"/>
        <LeGe.NativeProperty name="indexlist" nativeName="IndexList"/>
        <LeGe.NativeProperty name="ShowMarker" nativeName="ShowMarker"/>
        <LeGe.NativeProperty name="name" nativeName="name"/>
        
        <scea.dom.editors.attribute name="indexlist" displayName="Index List" category="General"/>
        <scea.dom.editors.attribute name="ShowMarker" displayName="Show Marker" category="General" editor="Sce.Atf.Controls.PropertyEditing.BoolEditor,Atf.Gui.WinForms"/>
        <scea.dom.editors name="TriMeshMarker" category="Markers" image="LevelEditorCore.Resources.gameObject.png" menuText="TriMeshMarker" description="TriMeshMarker"/>
      </xs:appinfo>
    </xs:annotation>
    
    <xs:complexContent>
      <xs:extension base="gameObjectType">
        <xs:sequence>
          <xs:element name="points" type="markerPointType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="indexlist" type="intListType" default=""/>
        <xs:attribute name="ShowMarker" type="xs:boolean" default="true"/>
      </xs:extension>
    </xs:complexContent>
    
  </xs:complexType>

  <!-- ......................................................................... -->

  <xs:complexType name="characterSpawnType">

    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="CharacterSpawn"/>
        <LeGe.NativeVis geo="Sphere"/>
        <LeGe.NativeProperty name="Skin" nativeName="Skin"/>
        <LeGe.NativeProperty name="AnimationSet" nativeName="AnimationSet"/>
        <LeGe.NativeProperty name="Skeleton" nativeName="Skeleton"/>
        
        <LeGe.NativeProperty name="RunForward" nativeName="RunForward"/>
        <LeGe.NativeProperty name="RunBack" nativeName="RunBack"/>
        <LeGe.NativeProperty name="RunLeft" nativeName="RunLeft"/>
        <LeGe.NativeProperty name="RunRight" nativeName="RunRight"/>
        
        <LeGe.NativeProperty name="RunForward_ToIdle" nativeName="RunForward_ToIdle"/>
        <LeGe.NativeProperty name="RunBack_ToIdle" nativeName="RunBack_ToIdle"/>
        <LeGe.NativeProperty name="RunLeft_ToIdle" nativeName="RunLeft_ToIdle"/>
        <LeGe.NativeProperty name="RunRight_ToIdle" nativeName="RunRight_ToIdle"/>

        <LeGe.NativeProperty name="Idle" nativeName="Idle"/>
        <LeGe.NativeProperty name="Idle1" nativeName="Idle1"/>
        <LeGe.NativeProperty name="Idle2" nativeName="Idle2"/>
        <LeGe.NativeProperty name="Idle3" nativeName="Idle3"/>
        <LeGe.NativeProperty name="Idle4" nativeName="Idle4"/>
        <LeGe.NativeProperty name="Idle5" nativeName="Idle5"/>

        <LeGe.NativeProperty name="RootTransform" nativeName="RootTransform"/>
        <LeGe.NativeProperty name="CharacterType" nativeName="CharacterType"/>

        <scea.dom.editors.attribute name="CharacterType" displayName="Character Type" category="General"
                                    description="Select either player or NPC type"
                                    enum="Player=0,NPC=1"/>
        
        <scea.dom.editors.attribute name="Skin" displayName="Skin" category="Model" 
                                    description="This dae file contains the skin, or visual appearance, of the character"/>
        <scea.dom.editors.attribute name="AnimationSet" displayName="AnimationSet" category="Model"
                                    description="This should be a directory where animation files are stored. Expecting one dae file per animation. File names should correspond to the animation files listed below."/>
        <scea.dom.editors.attribute name="Skeleton" displayName="Skeleton" category="Model"
                                    description="This dae file contains the skeleton. It can be the same as the skin."/>

        
        <scea.dom.editors.attribute name="RunForward" displayName="RunForward" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="RunBack" displayName="RunBack" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="RunLeft" displayName="RunLeft" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="RunRight" displayName="RunRight" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>

        <scea.dom.editors.attribute name="RunForward_ToIdle" displayName="RunForward_ToIdle" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="RunBack_ToIdle" displayName="RunBack_ToIdle" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="RunLeft_ToIdle" displayName="RunLeft_ToIdle" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="RunRight_ToIdle" displayName="RunRight_ToIdle" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>

        <scea.dom.editors.attribute name="Idle" displayName="Idle" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="Idle1" displayName="Idle1" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="Idle2" displayName="Idle2" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="Idle3" displayName="Idle3" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="Idle4" displayName="Idle4" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>
        <scea.dom.editors.attribute name="Idle5" displayName="Idle5" category="Animation Names"
                                    description="There should be a dae with this name in the AnimationSet directory."/>

        
        <scea.dom.editors.attribute name="RootTransform" displayName="RootTransform" category="Animation Names"
                                    description="This should be the name of the transform at root of the hierarchy, in Collada sid format (such as 'Bip01/matrix'). Used for extracting run speed."/>
        
        <scea.dom.editors name="CharacterSpawn" category="Markers" image="LevelEditorCore.Resources.gameObject.png" menuText="CharacterSpawn" description="Character position for use with the Environment sample."/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="gameObjectType">
        
        <xs:attribute name="Skin" type="xs:string" default="game/chr/nu_f/skin/dragon003"/>
        <xs:attribute name="AnimationSet" type="xs:string" default="game/chr/nu_f/animation"/>
        <xs:attribute name="Skeleton" type="xs:string" default="game/chr/nu_f/skeleton/all_co_sk_whirlwind_launch_mub"/>

        <xs:attribute name="RunForward" type="xs:string" default="onehand_mo_combat_run_f"/>
        <xs:attribute name="RunBack" type="xs:string" default="onehand_mo_combat_run_b"/>
        <xs:attribute name="RunLeft" type="xs:string" default="onehand_mo_combat_run_l"/>
        <xs:attribute name="RunRight" type="xs:string" default="onehand_mo_combat_run_r"/>
        
        <xs:attribute name="RunForward_ToIdle" type="xs:string" default="onehand_mo_combat_runtoidle_f"/>
        <xs:attribute name="RunBack_ToIdle" type="xs:string" default="onehand_mo_combat_runtoidle_b"/>
        <xs:attribute name="RunLeft_ToIdle" type="xs:string" default="onehand_mo_combat_runtoidle_l"/>
        <xs:attribute name="RunRight_ToIdle" type="xs:string" default="onehand_mo_combat_runtoidle_r"/>

        <xs:attribute name="Idle" type="xs:string" default="onehand_ba_combat_idle"/>
        <xs:attribute name="Idle1" type="xs:string" default="onehand_ba_combat_idle_rand_1"/>
        <xs:attribute name="Idle2" type="xs:string" default="onehand_ba_combat_idle_rand_2"/>
        <xs:attribute name="Idle3" type="xs:string" default="onehand_ba_combat_idle_rand_3"/>
        <xs:attribute name="Idle4" type="xs:string" default="onehand_ba_combat_idle_rand_4"/>
        <xs:attribute name="Idle5" type="xs:string" default="onehand_ba_combat_idle_rand_5"/>

        <xs:attribute name="RootTransform" type="xs:string" default="Bip01/matrix"/>

        <xs:attribute name="CharacterType" type="xs:int" default="0"/>
        
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>

  <!-- ......................................................................... -->

</xs:schema>
