Foreign/SonyLE/LevelEditorXLE/Schema/xleplacements.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="gap"
  xmlns="gap"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="xlebasic.xsd"/>

  <xs:complexType name="placementsCellReferenceType">
    <xs:annotation>
      <xs:appinfo>
        <scea.dom.editors.attribute name="captureMins" displayName="CaptureMins" description="Minimum capture point of this cell" category="Bounds" editor="Sce.Atf.Controls.PropertyEditing.NumericTupleEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.FloatArrayConverter"/>
        <scea.dom.editors.attribute name="captureMaxs" displayName="CaptureMaxs" description="Maximum capture point of this cell" category="Bounds" editor="Sce.Atf.Controls.PropertyEditing.NumericTupleEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.FloatArrayConverter"/>
        <scea.dom.editors.attribute name="ref" displayName="Ref" description="Placements document file"/>
        <scea.dom.editors.attribute name="name" displayName="Name" description="Display name"/>
        <scea.dom.editors.attribute name="ExportTarget" displayName="Export Target" category="Export" description="Destination file written to in export operations"/>
        <scea.dom.editors.attribute name="ExportEnabled" displayName="Export Enabled" category="Export" description="Enable or disable export of this item"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:attribute name="ref" type="xs:string" />
    <xs:attribute name="ExportTarget" type="xs:string" default="finals/placements.plc" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="captureMins" type="vector3Type" default="-10000 -10000 -5000"/>
    <xs:attribute name="captureMaxs" type="vector3Type" default="10000 10000 5000"/>
    <xs:attribute name="offset" type="vector3Type" default="0 0 0"/>
    <xs:attribute name="ExportEnabled" type="xs:boolean" default="true"/>
    <xs:attribute name="cachedCellMins" type="vector3Type" default="0 0 0"/>
    <xs:attribute name="cachedCellMaxs" type="vector3Type" default="0 0 0 "/>
  </xs:complexType>

  <xs:complexType name="placementsFolderType">
    <xs:annotation>
      <xs:appinfo>
        <scea.dom.editors.attribute name="ExportTarget" displayName="Export Target" category="Export" description="Destination file written to in export operations"/>
        <scea.dom.editors.attribute name="ExportEnabled" displayName="Export Enabled" category="Export" description="Enable or disable export of this item"/>
      </xs:appinfo>
    </xs:annotation>
    
    <xs:sequence>
      <xs:element name="cell" type="placementsCellReferenceType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="baseEditorPath" type="xs:string" default="placements/" />
    <xs:attribute name="baseExportPath" type="xs:string" default="finals/placements/" />
    <xs:attribute name="CellCount" type="int2Type" default="0 0" />
    <xs:attribute name="CellsOrigin" type="vector2Type" default="0 0" />
    <xs:attribute name="CellSize" type="xs:float" default="16384" />
    <xs:attribute name="ExportTarget" type="xs:string" default="finals/placements.cfg" />
    <xs:attribute name="ExportEnabled" type="xs:boolean" default="true"/>
  </xs:complexType>

  <xs:complexType name="abstractPlacementObjectType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="PlacementObject"/>
        <LeGe.NativeProperty name="transform" nativeName="transform" nativeType="Float4x4" access="set"/>
        <LeGe.NativeProperty name="visible" nativeName="visible" nativeType="bool" access="set,get"/>
        <LeGe.NativeProperty nativeName="Bounds" nativeType="AABB" access="get"/>
        <LeGe.NativeProperty nativeName="LocalBounds" nativeType="AABB" access="get"/>
        <LeGe.NativeProperty nativeName="LocalToWorld" />

        <scea.dom.editors.attribute name="locked" displayName="Locked" description="Lock this object" category="General" editor="Sce.Atf.Controls.PropertyEditing.BoolEditor,Atf.Gui.WinForms"/>
        <scea.dom.editors.attribute name="visible" displayName="Visibility" description="Whether item is visible in Design View" category="Display" editor="Sce.Atf.Controls.PropertyEditing.BoolEditor,Atf.Gui.WinForms"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="transformObjectType">
        <xs:attribute name="visible" type="xs:boolean" default="true" />
        <xs:attribute name="locked" type="xs:boolean" default="false" />
        <xs:attribute name="ID" type="xs:unsignedLong" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="placementsDocumentType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeDocumentType nativeName="PlacementsDocument"/>
        <LeGe.GameContext />
      </xs:appinfo>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="placement" type="transformObjectType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>

  <xs:element name="placementsDocument" type="placementsDocumentType"/>

  <!-- the following are concrete types... They can be moved into another schema file -->

  <xs:complexType name="placementObjectType">
    <xs:annotation>
      <xs:appinfo>
        <sce.atf.referenceConstraint resourceType ="Model,ModelBookmark"/>
        <LeGe.NativeProperty name="model" nativeName="model" nativeType="whcar_t*" access="set"/>
        <LeGe.NativeProperty name="material" nativeName="material" nativeType="whcar_t*" access="set"/>
        <LeGe.NativeProperty name="supplements" nativeName="supplements" nativeType="whcar_t*" access="set"/>
        
        <scea.dom.editors name="Placement" category="Level Tools" image="LevelEditorCore.Resources.gameObject.png" menuText="Placement" description="Placement"/>
        <scea.dom.editors.attribute name="model" displayName="Model" description="Bound model resource" category="Resource"/>
        <scea.dom.editors.attribute name="material" displayName="Material" description="Bound material resource" category="Resource"/>
        <scea.dom.editors.attribute name="supplements" displayName="Supplements" description="Additional model supplements to use during rendering" category="Resource"/>

        <LeGe.GameObjectProperties />
        <LeGe.TransformUpdater />
        <LeGe.TransformObject />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="abstractPlacementObjectType">
        <xs:attribute name="model" type="xs:string" />
        <xs:attribute name="material" type="xs:string" />
        <xs:attribute name="supplements" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


    <!-- D Y N A M I C   I M P O S T E R S   C O N F I G -->
  <xs:complexType name="dynamicImpostersConfig">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="DynamicImpostersConfig"/>

        <LeGe.NativeProperty name="ThresholdDistance" nativeName="ThresholdDistance"/>
        <LeGe.NativeProperty name="AngleQuant" nativeName="AngleQuant"/>
        <LeGe.NativeProperty name="CalibrationDistance" nativeName="CalibrationDistance"/>
        <LeGe.NativeProperty name="CalibrationFov" nativeName="CalibrationFov"/>
        <LeGe.NativeProperty name="CalibrationPixels" nativeName="CalibrationPixels"/>
        <LeGe.NativeProperty name="MinDims" nativeName="MinDims"/>
        <LeGe.NativeProperty name="MaxDims" nativeName="MaxDims"/>
        <LeGe.NativeProperty name="AltasSize" nativeName="AltasSize"/>

        <scea.dom.editors.attribute category="Basic" name="ThresholdDistance" displayName="Threshold Distance"
                                    description="Distance at which to start using imposters."/>
        
        <scea.dom.editors.attribute category="Generation" name="AngleQuant" displayName="Angle Count"
                                    description="Number of sprites to generate for different angles."/>
        <scea.dom.editors.attribute category="Generation" name="CalibrationDistance" displayName="Calibration Distance"
                                    description="Distance to the camera when generating sprites"/>
        <scea.dom.editors.attribute category="Generation" name="CalibrationFov" displayName="Calibration FOV"
                                    description="Approximate field of view to use when generating sprites"/>
        <scea.dom.editors.attribute category="Generation" name="CalibrationPixels" displayName="Calibration Size"
                                    description="Increase or decrease to adjust the resolution of the generated sprites"/>

        <scea.dom.editors.attribute category="Atlas" name="MinDims" displayName="Min Sprite Size"
                                    description="Minimum size for the generated sprite"/>
        <scea.dom.editors.attribute category="Atlas" name="MaxDims" displayName="Max Sprite Size"
                                    description="Maximum size for the generated sprite (larger objects will tend to create larger sprites)"/>
        <scea.dom.editors.attribute category="Atlas" name="AltasSize" displayName="Atlas Size"
                                    description="Size of the texture reserved for sprites"/>

        <scea.dom.editors category="Placements" name="DynamicImpostersConfig" menuText="Placements/DynamicImpostersConfig" 
                          description="Configuration for dynamic imposters"/>
        <LeGe.OpaqueListable label="Dynamic Imposters Config"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="gameObjectType">
        <xs:attribute name="ThresholdDistance" type="xs:float" default="650"/>
        <xs:attribute name="AngleQuant" type="xs:unsignedInt" default="8"/>
        <xs:attribute name="CalibrationDistance" type="xs:float" default="650"/>
        <xs:attribute name="CalibrationFov" type="xs:float" default="40"/>
        <xs:attribute name="CalibrationPixels" type="xs:unsignedInt" default="256"/>
        <xs:attribute name="MinDims" type="int2Type" default="32 32"/>
        <xs:attribute name="MaxDims" type="int2Type" default="128 128"/>
        <xs:attribute name="AltasSize" type="int3Type" default="4096 2048 1"/>
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>

</xs:schema>
