Foreign/SonyLE/LevelEditorXLE/Schema/xleterrain.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="gap"
	xmlns="gap"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  >

  <xs:include schemaLocation="xlebasic.xsd"/>

  <!-- ......................................................................... -->
  
  <xs:complexType name="abstractTerrainMaterialDescType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeProperty name="MaterialId" nativeName="MaterialId"/>
        <scea.dom.editors.attribute name="MaterialId" displayName="Material Id" description="Material to attach to (zero based index)" category="General"/>
      </xs:appinfo>
    </xs:annotation>
    
    <xs:attribute name="MaterialId" type="xs:int" default="0"/>
  </xs:complexType>
    
  <xs:complexType name="terrainBaseTextureType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="TerrainBaseTexture"/>
        <LeGe.NativeProperty name="diffusedims" nativeName="diffusedims" nativeType="Float2" access="set"/>
        <LeGe.NativeProperty name="normaldims" nativeName="normaldims" nativeType="Float2" access="set"/>
        <LeGe.NativeProperty name="paramdims" nativeName="paramdims" nativeType="Float2" access="set"/>

        <LeGe.OpaqueListable label="Texturing"/>
        <scea.dom.editors.attribute name="diffusedims" displayName="Diffuse Dims" description="Diffuse texture dimensions" category="General" editor="Sce.Atf.Controls.PropertyEditing.NumericTupleEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.FloatArrayConverter"/>
        <scea.dom.editors.attribute name="normaldims" displayName="Normal Dims" description="Normal texture dimensions" category="General" editor="Sce.Atf.Controls.PropertyEditing.NumericTupleEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.FloatArrayConverter"/>
        <scea.dom.editors.attribute name="paramdims" displayName="Parameter Dims" description="Parameter texture dimensions" category="General" editor="Sce.Atf.Controls.PropertyEditing.NumericTupleEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.FloatArrayConverter"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="material" type="abstractTerrainMaterialDescType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="diffusedims" type="vector3Type" default="512 512 1"/>
    <xs:attribute name="normaldims" type="vector3Type" default="512 512 1"/>
    <xs:attribute name="paramdims" type="vector3Type" default="512 512 1"/>
  </xs:complexType>

  <!-- ......................................................................... -->

  <xs:complexType name="terrainBaseTextureStrataType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="TerrainBaseTextureStrata"/>
        <LeGe.NativeProperty name="texture0" nativeName="texture0" nativeType="wchar_t*" access="set"/>
        <LeGe.NativeProperty name="texture1" nativeName="texture1" nativeType="wchar_t*" access="set"/>
        <LeGe.NativeProperty name="texture2" nativeName="texture2" nativeType="wchar_t*" access="set"/>
        <LeGe.NativeProperty name="mapping0" nativeName="mapping0" nativeType="float" access="set"/>
        <LeGe.NativeProperty name="mapping1" nativeName="mapping1" nativeType="float" access="set"/>
        <LeGe.NativeProperty name="mapping2" nativeName="mapping2" nativeType="float" access="set"/>
        <LeGe.NativeProperty name="endheight" nativeName="endheight" nativeType="float" access="set"/>

        <scea.dom.editors.attribute name="texture0" displayName="texture0" description="texture0" category="General" editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms" converter="LevelEditorXLE.BaseTextureNameConverter,LevelEditorXLE"/>
        <scea.dom.editors.attribute name="texture1" displayName="texture1" description="texture1" category="General" editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms" converter="LevelEditorXLE.BaseTextureNameConverter,LevelEditorXLE"/>
        <scea.dom.editors.attribute name="texture2" displayName="texture2" description="texture2" category="General" editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms" converter="LevelEditorXLE.BaseTextureNameConverter,LevelEditorXLE"/>
        <scea.dom.editors.attribute name="mapping0" displayName="mapping0" description="mapping0" category="General"/>
        <scea.dom.editors.attribute name="mapping1" displayName="mapping1" description="mapping1" category="General"/>
        <scea.dom.editors.attribute name="mapping2" displayName="mapping2" description="mapping2" category="General"/>
        <scea.dom.editors.attribute name="endheight" displayName="endheight" description="endheight" category="General"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:attribute name="texture0" type="xs:string" default=""/>
    <xs:attribute name="texture1" type="xs:string" default=""/>
    <xs:attribute name="texture2" type="xs:string" default=""/>
    <xs:attribute name="mapping0" type="xs:float" default="10.0"/>
    <xs:attribute name="mapping1" type="xs:float" default="10.0"/>
    <xs:attribute name="mapping2" type="xs:float" default="10.0"/>
    <xs:attribute name="endheight" type="xs:float" default="1000.0"/>
  </xs:complexType>
  
  <xs:complexType name="terrainStrataMaterialType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="TerrainStrataMaterial"/>
        <LeGe.OpaqueListable label="Strata Material"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="abstractTerrainMaterialDescType">
        <xs:sequence>
          <xs:element name="strata" type="terrainBaseTextureStrataType" minOccurs="0" maxOccurs="6" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ......................................................................... -->

  <xs:complexType name="vegetationSpawnObjectType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="VegetationSpawnObjectType"/>
        <LeGe.NativeProperty name="JitterAmount" nativeName="JitterAmount"/>
        <LeGe.NativeProperty name="MaxDrawDistance" nativeName="MaxDrawDistance"/>
        <LeGe.NativeProperty name="Model" nativeName="Model"/>
        <LeGe.NativeProperty name="Material" nativeName="Material"/>
        <LeGe.NativeProperty name="FrequencyWeight" nativeName="FrequencyWeight"/>

        <scea.dom.editors.attribute name="Model" displayName="Model" description="Model" category="General" editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms" converter="LevelEditorXLE.AssetNameNoExtConverter,LevelEditorXLE"/>
        <scea.dom.editors.attribute name="Material" displayName="Material" description="Material" category="General" editor="Sce.Atf.Controls.PropertyEditing.FileUriEditor,Atf.Gui.WinForms" converter="LevelEditorXLE.AssetNameNoExtConverter,LevelEditorXLE"/>
        <scea.dom.editors.attribute name="JitterAmount" displayName="Jitter Amount" description="Randomness applied to positions. Higher numbers mean objects are more randomly scattered." category="General"/>
        <scea.dom.editors.attribute name="MaxDrawDistance" displayName="Max Draw Distance" description="Maximum draw distance for this type of object" category="General"/>
        <scea.dom.editors.attribute name="FrequencyWeight" displayName="Frequency Weight" description="Higher numbers mean this object will appear more frequently" category="General"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:attribute name="JitterAmount" type="xs:float" default="1"/>
    <xs:attribute name="MaxDrawDistance" type="xs:float" default="100"/>
    <xs:attribute name="FrequencyWeight" type="xs:float" default="100"/>
    <xs:attribute name="Model" type="xs:string" default=""/>
    <xs:attribute name="Material" type="xs:string" default=""/>
  </xs:complexType>

  <xs:complexType name="vegetationSpawnMaterialType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="VegetationSpawnMaterial"/>
        <LeGe.NativeProperty name="NoSpawnWeight" nativeName="NoSpawnWeight"/>
        <LeGe.NativeProperty name="SuppressionThreshold" nativeName="SuppressionThreshold"/>
        <LeGe.NativeProperty name="SuppressionNoise" nativeName="SuppressionNoise"/>
        <LeGe.NativeProperty name="SuppressionGain" nativeName="SuppressionGain"/>
        <LeGe.NativeProperty name="SuppressionLacunarity" nativeName="SuppressionLacunarity"/>
        <LeGe.NativeProperty name="MaterialId" nativeName="MaterialId"/>

        <scea.dom.editors.attribute name="NoSpawnWeight" displayName="NoSpawnWeight" description="Higher numbers mean places where objects would normally be spawned are left blank" category="General"/>
        <scea.dom.editors.attribute name="SuppressionThreshold" displayName="SuppressionThreshold" description="Suppresses object spawning in a noise pattern" category="General"/>
        <scea.dom.editors.attribute name="SuppressionNoise" displayName="SuppressionNoise" description="Frequency value for noise pattern for suppression" category="General"/>
        <scea.dom.editors.attribute name="SuppressionGain" displayName="SuppressionGain" description="Gain value for noise pattern for suppression" category="General"/>
        <scea.dom.editors.attribute name="SuppressionLacunarity" displayName="SuppressionLacunarity" description="Lacunarity value for noise pattern for suppression" category="General"/>
        <scea.dom.editors.attribute name="MaterialId" displayName="MaterialId" description="Id for this material (must be unique and contiguous)" category="General"/>

        <scea.dom.editors name="VegetationSpawnMaterial" category="Level Tools" image="LevelEditorCore.Resources.gameObject.png" menuText="VegetationSpawnMaterial" description="VegetationSpawnMaterial"/>
        <LeGe.OpaqueListable label="Material"/>
      </xs:appinfo>
    </xs:annotation>
    
    <xs:sequence>
      <xs:element name="object" type="vegetationSpawnObjectType" minOccurs="0" maxOccurs="8" />
    </xs:sequence>
    <xs:attribute name="NoSpawnWeight" type="xs:float" default="0"/>
    <xs:attribute name="SuppressionThreshold" type="xs:float" default="-1"/>
    <xs:attribute name="SuppressionNoise" type="xs:float" default="8.1872"/>
    <xs:attribute name="SuppressionGain" type="xs:float" default="0.935"/>
    <xs:attribute name="SuppressionLacunarity" type="xs:float" default="2.0192"/>
    <xs:attribute name="MaterialId" type="xs:unsignedInt" default="0"/>
  </xs:complexType>
  
  <xs:complexType name="vegetationSpawnConfigType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="VegetationSpawnConfig"/>
        <LeGe.NativeProperty name="BaseGridSpacing" nativeName="BaseGridSpacing"/>
        
        <scea.dom.editors.attribute name="BaseGridSpacing" displayName="Base Grid Spacing" description="Spacing between objects (before position jittering)" category="General"/>

        <scea.dom.editors name="VegetationSpawnConfig" category="Level Tools" image="LevelEditorCore.Resources.gameObject.png" menuText="VegetationSpawnConfig" description="VegetationSpawnConfig"/>
        <LeGe.OpaqueListable label="VegetationSpawnConfig"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="material" type="vegetationSpawnMaterialType" minOccurs="0" maxOccurs="8" />
    </xs:sequence>
    <xs:attribute name="BaseGridSpacing" type="xs:float" default="1"/>
  </xs:complexType>
  
  <!-- ......................................................................... -->
  
  <xs:complexType name="terrainType">
    <xs:annotation>
      <xs:appinfo>
        <LeGe.NativeType nativeName="Terrain"/>
        <LeGe.NativeProperty name="Offset" nativeName="Offset" nativeType="float3" access="set"/>
        <LeGe.NativeProperty name="UberSurfaceDir" nativeName="UberSurfaceDir"/>
        <LeGe.NativeProperty name="CellsDir" nativeName="CellsDir"/>

        <scea.dom.editors.attribute name="CellsDir" displayName="Cells Directory" description="Directory containing terrain cell files" category="General"/>
        <scea.dom.editors.attribute name="UberSurfaceDir" displayName="Uber Surface Directory" description="Directory containing the working &quot;uber-surface&quot; files" category="General"/>
        <scea.dom.editors.attribute name="Offset" displayName="Offset" description="World space origin for terrain" category="General" editor="Sce.Atf.Controls.PropertyEditing.NumericTupleEditor,Atf.Gui.WinForms" converter="Sce.Atf.Controls.PropertyEditing.FloatArrayConverter"/>
      </xs:appinfo>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="baseTexture" type="terrainBaseTextureType" minOccurs="1" maxOccurs="1" />
      <xs:element name="VegetationSpawn" type="vegetationSpawnConfigType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="UberSurfaceDir" type="xs:string" />
    <xs:attribute name="CellsDir" type="xs:string" />
    <xs:attribute name="NodeDimensions" type="xs:unsignedInt" default="32" />
    <xs:attribute name="Overlap" type="xs:unsignedInt" default="2" />
    <xs:attribute name="Spacing" type="xs:float" default="10" />
    <xs:attribute name="CellTreeDepth" type="xs:unsignedInt" default="5" />
    <xs:attribute name="Offset" type="vector3Type" default="0 0 0"/>
    <xs:attribute name="SunPathAngle" type="xs:float" default="0"/>
    <xs:attribute name="HasBaseMaterialCoverage" type="xs:boolean" default="false" />
    <xs:attribute name="HasDecorationCoverage" type="xs:boolean" default="false" />
    <xs:attribute name="HasShadowsConverage" type="xs:boolean" default="false" />
  </xs:complexType>
  
</xs:schema>
